<div class="desktop1-container">
  <div class="desktop1-desktop1">
    <div class="desktop1-group3">
      <div class="desktop1-frame1">
        <img
          alt="EPALogo114"
          src="/assets/playground_assets/epalogo114-snmw-200h.png"
          class="desktop1-e-p-a-logo1"
        />
        <div class="desktop1-group1">
          <div class="desktop1-group2">
            <img
              alt="Vector16"
              src="/assets/playground_assets/vector16-6qp.svg"
              class="desktop1-vector"
            />
          </div>
          <input
            type="text"
            placeholder="placeholder"
            class="desktop1-textinput input"
          />
        </div>
        <span class="desktop1-text"><span>Advanced Search</span></span>
        <span class="desktop1-text2"><span>Unitified Search</span></span>
      </div>
    </div>
    <div class="desktop1-group11">
      <img
        alt="Rectangle1244"
        src="/assets/playground_assets/rectangle1244-klvh-200h.png"
        class="desktop1-rectangle1"
      />
      <span class="desktop1-text4"><span>Search</span></span>
      <div class="desktop1-group21">
        <img
          alt="Vector248"
          src="/assets/playground_assets/vector248-pzii.svg"
          class="desktop1-vector1"
        />
        <span class="desktop1-text6"><span>Advanced Search</span></span>
      </div>
    </div>
  </div>
</div>
